textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.consult_input {
    height: 37px;
    margin-right: 20px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input_btn_row {
    display: flex;
    flex-direction: row;
}

