* {
    margin: 0;
}

h1.text {
    margin-top: 28px;
}

.App {
    background-color: #383838;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    background-color: #84C696;
    border: solid #84C696;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px 10px 0px 10px;
    width: 800px;
}

.github_logo {
    margin-left: 10px;
    width: 15px;
}

.menu {
    background-color: #84C696;
    height: 60px;
}

.names {
    margin: 0;
}

.paragraphs {
    display: flex;
    margin: 0px 50px 50px 50px;
    flex-wrap: wrap;
}

.socials {
    margin-bottom: 20px;
}

.text {
    color: white;
    text-decoration: none;
}
